## Cancer Prediction

In [2]:
import pandas as pd

In [18]:
data_df = pd.read_csv('Cancer.csv')

In [19]:
data_df['Bare Nuclei'].replace("?",'1', inplace=True)
data_df['Bare Nuclei'] = data_df['Bare Nuclei'].astype('int64')
data_df.head()

,ID,ClumpThickness,Cell Size,Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Normal Nucleoli,Bland Chromatin,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [20]:
X = data_df.drop(['ID','Class'] ,axis = 1)
Y = data_df['Class']

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size = 0.25)
print(x_train.shape,y_train.shape)
print(x_test.shape,y_test.shape)

(524, 9) (524,)
(175, 9) (175,)